/.tscache
/dev
/node_modules
/public
/src/docs
/.gitignore
/.gitlab-ci.yml
/Gruntfile.js
/tslint.json
/yarn.lock
/yarn-error.log

# ignore .ts files
/src/ts/**/*.ts
# include the .d.ts files
!/src/ts/**/*.d.ts
