.#{$wrapper} {
  &-header {
    height:2em;
    flex: 0 0 2em;
    border-bottom: 1px solid darken($color-header, 20%);
    background-color: $color-header;
    color: $color-header-font;
    display: flex;
    user-select: none;
    cursor: -webkit-grab;
    box-shadow: 0 0 10px 0 darken($color-header, 20%);

    .#{$wrapper} {
      &-title {
        flex-grow: 1;
        padding: 0.5em;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow: hidden;
      }

      &-buttons {
        white-space:nowrap;
        flex-shrink:0;
      }

      &-btn {
        padding: 0.5em;
        height: 2em;
        width: 2em;
        cursor: pointer;
        background-color: lighten($color-header, 5%);
        border: 2px outset darken($color-header, 5%);
        outline: 0;
        color: #fff;
        font-weight: 700;
        border-radius: 50%;
      }

      &-btn:hover {
        background-color: lighten($color-header, 10%);
        border-color: darken($color-header, 10%);
      }

      &-btn-close:after {
        content: 'X';
      }

      &-btn-minimize:after {
        content: '_';
      }

    }
  }
}