.#{$wrapper} {
  box-sizing: border-box;
  position: fixed;
  flex-direction: column;
  border: 2px outset $color-wrapper;
  background: $color-content;
  height: 300px;
  width: 500px;
  overflow: hidden;
  box-shadow: 1em 1em 0.5em 0.25em $color-shadow;

  * {
    box-sizing: border-box;
  }

  &-resizable {
    resize: both;
  }
}