.#{$wrapper} {
  &-header {
    flex: 0 0 2.5em;
    border-bottom: 1px solid darken($color-header, 20%);
    background-color: $color-header;
    display: flex;
    user-select: none;
    cursor: -webkit-grab;
    box-shadow: 0px 0px 10px 0px darken($color-header, 20%);

    .#{$wrapper} {
      &-title {
        flex-grow: 1;
        padding: 10px;
      }

      &-btn {
        padding: 10px;
        height: 100%;
        width: 36px;
        cursor: pointer;
        background-color: lighten($color-header, 5%);
        border: 2px outset darken($color-header, 5%);
        outline: 0;
        color: #fff;
        font-weight: 700;
      }

      &-btn:hover {
        background-color: lighten($color-header, 10%);
        border-color: darken($color-header, 10%);
      }

      &-btn-close:after {
        content: 'X';
      }

      &-btn-minimize:after {
        content: '_';
      }

    }
  }
}